<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".App"
        tools:replace="android:fullBackupContent"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/fillpitlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fillpitlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fill_pit"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity (MISSING - Now added) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Fill_pit" />

        <!-- Other Activities -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />

        <activity
            android:name=".SubmissionActivity"
            android:exported="true" />

        <activity
            android:name=".ComplaintStatusActivity"
            android:exported="true" />

        <activity
            android:name=".NewSignUpActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.fill_pit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
